6)  Uma  rede  de  varejo  de  móveis  e  eletrodomésticos  vêm  passando  por  um  período  de 
dificuldade na venda de seus produtos. As gerências de quatro lojas se reuniram para entender 
os pontos a serem melhorados, para isso foram coletados dados das vendas de todas as lojas 
em um período de dois meses. Com o objetivo de melhorar as vendas, cada loja fez um plano 
de ação que foi implantado do 31º ao 60º dia.  
Os  dados  coletados  do  número  de  vendas  em  cada  umas  das  lojas  estão  armazenados  na 
planilha Green_Belt_FM2S_Lista_Exercícios_01, na aba 06. Vendas. 
1. Em qual das lojas houve mudanças depois do plano de ação? 
2. Qual seria uma sugestão viável para as lojas que não tiveram mudança mesmo depois 
do Plano de Ação? 
3. É possível afirmar que alguma loja apresenta um número maior de vendas?

In [1]:
import pandas as pd

In [2]:
url = 'https://raw.githubusercontent.com/moises-rb/Analise_Dados/refs/heads/main/Green_Belt/2-Measure/Exercicios/Lista_1/base_dados/vendas.csv'
df = pd.read_csv(url)
df.head()

   Dia  Loja 1  Loja 2  Loja 3  Loja 4
0    1     180     231     193     179
1    2     192     250     202     165
2    3     205     198     195     159
3    4     111     163     187     200
4    5     174     248     205     166