In [16]:
# notebooks/Seu_Notebook_Principal.ipynb

import sys
import os

# Adiciona a pasta 'scripts' ao PATH do Python para que possamos importar módulos dela
# Isso é crucial se o notebook está em 'notebooks' e a função em 'scripts'
project_root = os.path.dirname(os.path.abspath('')) # Volta para o nível da 'Pasta do Projeto'
scripts_path = os.path.join(project_root, 'scripts')
if scripts_path not in sys.path:
    sys.path.append(scripts_path)

# Agora você pode importar a função
from data_loader import load_data_with_fallback

# --- Configurações para o seu DataFrame ---
# A URL do seu arquivo CSV no GitHub
my_github_url = 'https://raw.githubusercontent.com/moises-rb/Analise_Dados/refs/heads/main/Telecom_X_PrevendoChurn/dados/dados_tratados_churn.csv'
# O nome do arquivo (deve ser o mesmo no GitHub e localmente)
my_file_name = 'dados_tratados_churn.csv'

# Chama a função para carregar os dados
dados = load_data_with_fallback(
    github_raw_url=my_github_url,
    file_name=my_file_name,
    local_data_dir='dados', # Confirma que a pasta local é 'dados'
    timeout_seconds=120 # Pode ajustar o timeout aqui
)

# Verifica se o DataFrame foi carregado antes de prosseguir
if dados is not None:
    print("\nDataFrame 'dados' pronto para análise!")
else:
    print("\nNão foi possível carregar o DataFrame. Verifique as mensagens de erro acima.")

INFO: Tentando ler os dados do GitHub da URL: https://raw.githubusercontent.com/moises-rb/Analise_Dados/refs/heads/main/Telecom_X_PrevendoChurn/dados/dados_tratados_churn.csv

INFO: Dados lidos com sucesso do GitHub!
INFO: DataFrame carregado com sucesso! Shape: (7032, 23)

DataFrame 'dados' pronto para análise!

In [17]:
dados.shape

(7032, 23)

In [18]:
dados.head()

,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,TenureGroup,DailyCharges,tenure_group
0,No,Female,0,Yes,Yes,9,Yes,No,DSL,No,...,Yes,No,One year,Yes,Mailed check,65.6,593.30,0-12 Meses,2.186667,7-12
1,No,Male,0,No,No,9,Yes,Yes,DSL,No,...,No,Yes,Month-to-month,No,Mailed check,59.9,542.40,0-12 Meses,1.996667,7-12
2,Yes,Male,0,No,No,4,Yes,No,Fiber optic,No,...,No,No,Month-to-month,Yes,Electronic check,73.9,280.85,0-12 Meses,2.463333,0-6
3,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,No,...,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85,13-24 Meses,3.266667,13-24
4,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,No,...,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.40,0-12 Meses,2.796667,0-6

In [14]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7032 entries, 0 to 7031
Data columns (total 23 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Churn             7032 non-null   object
 1   gender            7032 non-null   object
 2   SeniorCitizen     7032 non-null   int64
 3   Partner           7032 non-null   object
 4   Dependents        7032 non-null   object
 5   tenure            7032 non-null   int64
 6   PhoneService      7032 non-null   object
 7   MultipleLines     7032 non-null   object
 8   InternetService   7032 non-null   object
 9   OnlineSecurity    7032 non-null   object
 10  OnlineBackup      7032 non-null   object
 11  DeviceProtection  7032 non-null   object
 12  TechSupport       7032 non-null   object
 13  StreamingTV       7032 non-null   object
 14  StreamingMovies   7032 non-null   object
 15  Contract          7032 non-null   object
 16  PaperlessBilling  7032 non-null   object
 17  PaymentMethod     7032 non-null   object
 18  MonthlyCharges    7032 non-null   float64
 19  TotalCharges      7032 non-null   float64
 20  TenureGroup       7032 non-null   object
 21  DailyCharges      7032 non-null   float64
 22  tenure_group      7032 non-null   object
dtypes: float64(3), int64(2), object(18)
memory usage: 1.2+ MB

In [15]:
dados.dtypes

Churn                object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges        float64
TenureGroup          object
DailyCharges        float64
tenure_group         object
dtype: object