## Importando bibliotecas

In [1]:
import pandas as pd

## Obtendo Dataset

In [7]:
# Carregando o DataFrame completo
url = 'https://raw.githubusercontent.com/moises-rb/Analise_Dados/refs/heads/main/Telecom_X_PrevendoChurn/dados/df_final.csv'
dados = pd.read_csv(url)

## Análise Preliminar no Dataset

In [13]:
# Visualização inicial dos dados

print("\n### DADOS INICIAIS ###")
print(dados.head())
print("\n--- INFORMAÇÕES DO DATAFRAME ---\n")
print(dados.info())
print("\n=== ESTATÍSTICAS DESCRITIVAS ===\n")
dados.describe()

### DADOS INICIAIS ###
   customerID Churn  gender  SeniorCitizen Partner Dependents  tenure  \
0  0002-ORFBO    No  Female              0     Yes        Yes       9
1  0003-MKNFE    No    Male              0      No         No       9
2  0004-TLHLJ   Yes    Male              0      No         No       4
3  0011-IGKFF   Yes    Male              1     Yes         No      13
4  0013-EXCHZ   Yes  Female              1     Yes         No       3

  PhoneService MultipleLines InternetService  ... TechSupport StreamingTV  \
0          Yes            No             DSL  ...         Yes         Yes
1          Yes           Yes             DSL  ...          No          No
2          Yes            No     Fiber optic  ...          No          No
3          Yes            No     Fiber optic  ...          No         Yes
4          Yes            No     Fiber optic  ...         Yes         Yes

  StreamingMovies        Contract PaperlessBilling     PaymentMethod  \
0              No        One year              Yes      Mailed check
1             Yes  Month-to-month               No      Mailed check
2              No  Month-to-month              Yes  Electronic check
3             Yes  Month-to-month              Yes  Electronic check
4              No  Month-to-month              Yes      Mailed check

  MonthlyCharges TotalCharges  TenureGroup  DailyCharges
0           65.6       593.30   0-12 Meses      2.186667
1           59.9       542.40   0-12 Meses      1.996667
2           73.9       280.85   0-12 Meses      2.463333
3           98.0      1237.85  13-24 Meses      3.266667
4           83.9       267.40   0-12 Meses      2.796667

[5 rows x 23 columns]

--- INFORMAÇÕES DO DATAFRAME ---

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7032 entries, 0 to 7031
Data columns (total 23 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7032 non-null   object
 1   Churn             7032 non-null   object
 2   gender            7032 non-null   object
 3   SeniorCitizen     7032 non-null   int64
 4   Partner           7032 non-null   object
 5   Dependents        7032 non-null   object
 6   tenure            7032 non-null   int64
 7   PhoneService      7032 non-null   object
 8   MultipleLines     7032 non-null   object
 9   InternetService   7032 non-null   object
 10  OnlineSecurity    7032 non-null   object
 11  OnlineBackup      7032 non-null   object
 12  DeviceProtection  7032 non-null   object
 13  TechSupport       7032 non-null   object
 14  StreamingTV       7032 non-null   object
 15  StreamingMovies   7032 non-null   object
 16  Contract          7032 non-null   object
 17  PaperlessBilling  7032 non-null   object
 18  PaymentMethod     7032 non-null   object
 19  MonthlyCharges    7032 non-null   float64
 20  TotalCharges      7032 non-null   float64
 21  TenureGroup       7032 non-null   object
 22  DailyCharges      7032 non-null   float64
dtypes: float64(3), int64(2), object(18)
memory usage: 1.2+ MB
None

=== ESTATÍSTICAS DESCRITIVAS ===

       SeniorCitizen       tenure  MonthlyCharges  TotalCharges  DailyCharges
count    7032.000000  7032.000000     7032.000000   7032.000000   7032.000000
mean        0.162400    32.421786       64.798208   2283.300441      2.159940
std         0.368844    24.545260       30.085974   2266.771362      1.002866
min         0.000000     1.000000       18.250000     18.800000      0.608333
25%         0.000000     9.000000       35.587500    401.450000      1.186250
50%         0.000000    29.000000       70.350000   1397.475000      2.345000
75%         0.000000    55.000000       89.862500   3794.737500      2.995417
max         1.000000    72.000000      118.750000   8684.800000      3.958333